.input:focus {
    outline: none;

}

.input {
    height: 36px;
    width: 372px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
    height: 36px;
    border: 1px solid #CC1439
}

.errorInput:focus {
    outline: none;
}

.error {
    color: #CC1439;
    font-size: 10px;
    font-weight: 400;
}
