.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 9px;
}

.greeting {
}
